/* You can add global styles to this file, and also import other style files */
#headers {
    background-color: rgb(238, 230, 255);
}
#footers {
    background-color: rgb(238, 230, 255);
}
#attribution {
    color: #000;
}
#fonts  {
    color: #000;
}